<!DOCTYPE html>
<html>
	<head>
		<title>Arpan Parashar </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Arpan Parashar!</h1>
				<p>I am currently pursuing my Master's degree in Geographic Information Science at <em> Clark University, Worcester</em> <a href="/about">Learn more about me here..</a></p>
			<blockquote class="embedly-card"><h4><a href="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1zosa_xGqT75C4XfpjYVQ4HnSE65rZT_TnLr9LtYeGCU&font=Default&lang=en&initial_zoom=2&height=650">TimelineJS Embed</a></h4><p>TimelineJS Embed</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		<blockquote class="embedly-card"><h4><a href="https://uploads.knightlab.com/storymapjs/d36c395c9295c4b5a0405ee2668dc346/the-journey-of-indian-independence/index.html">The journey of Indian Independence</a></h4><p>null</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
			<blockquote class="embedly-card"><h4><a href="https://clarku.maps.arcgis.com/home/webmap/viewer.html?webmap=0a58a28cb7324e6b85a24c089d665174">null</a></h4><p>null</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:Aparashar@clarku.edu">email</a></li>
        		<li><a href="https://github.com/Arpan2908">github.com/Arpan2908</a></li>
			</ul>
		</footer>
	</body>
</html>
