<!DOCTYPE html>
<html>
	<head>
		<title>Arpan Parashar </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Arpan Parashar!</h1>
				<p>I am currently pursuing my Master's degree in Geographic Information Science at <em> Clark University, Worcester</em></p>
			<p> See some my work below </p>
			
			
		<p>This is a timeline created on Knightlab which shows the path of Hurricane Katrina and how it resulted in so many casualties.</p>
			<blockquote class="embedly-card"><h4><a href="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1zosa_xGqT75C4XfpjYVQ4HnSE65rZT_TnLr9LtYeGCU&font=Default&lang=en&initial_zoom=2&height=650">TimelineJS Embed</a></h4><p>TimelineJS Embed</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
			
			<iframe src="https://www.google.com/maps/d/embed?mid=11hFa8Wi2HawB2JL0xTyqUOCJ-lnTyb-c" width="640" height="480"></iframe>
			
			
			
			<p>This is a web map created using ArcGIS online which shows non-emergency reported incidents by the governement and public.
					<style>.embed-container {position: relative; padding-bottom: 40%; height: 0; max-width: 55%; margin-left: 150px} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="311_Incidents" src="//clarku.maps.arcgis.com/apps/Embed/index.html?webmap=0a58a28cb7324e6b85a24c089d665174&extent=-71.9066,42.2006,-71.7043,42.2819&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"></iframe></div>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:Aparashar@clarku.edu">email</a></li>
        		<li><a href="https://github.com/Arpan2908">github.com/Arpan2908</a></li>
			</ul>
		</footer>
	</body>
</html>
